@import "styles.css";

#mainNav2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
  }

.navbar-brand {
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    white-space: nowrap;
    color: gold !important; 
  }

  @media (min-width: 992px) {
    #mainNav2 {
      padding-top: 1rem;
      padding-bottom: 1rem;
      transition: padding-top 0.3s, padding-bottom 0.3s;
    }
    #mainNav2 .navbar-brand {
      font-size: 1.8rem;
      transition: font-size 0.3s;
      color:gold !important;
    }
    #mainNav2 .navbar-nav {
      margin-top: 0;
    }
    #mainNav2 .navbar-nav > .nav-item > .nav-link.active {
      color: #fff;
      background: #1abc9c;
    }
    #mainNav2 .navbar-nav > .nav-item > .nav-link.active:active, #mainNav2 .navbar-nav > .nav-item > .nav-link.active:focus, #mainNav2 .navbar-nav > .nav-item > .nav-link.active:hover {
      color: #fff;
      background: #1abc9c;
    }
  
    #mainNav2.navbar-shrink {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    #mainNav2.navbar-shrink .navbar-brand {
      font-size: 1.5em;
    }
}

  #mainNav2 .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 0;
  }
