@import "styles.css";

  .page-section .practice-title{
    display: flex;
    flex-direction: row;
    line-height: 1.5rem;
  }
  .page-section .page-section-heading {
    font-size: 1.2rem;
  }

  .page-section .page-section-question {
    font-size: 1rem;
  }

  @media (min-width: 992px) {
    .page-section .page-section-heading {
      font-size: 1.6rem;
    }
    
    .page-section .page-section-question {
      font-size: 1.4rem;
    }
  }

  .form-check-input, .form-check-label{
    font-size: 1.1rem;
  }


  .btn-secondary2 {
    color: #fff;
    background-color: #fd973d;
    border-color: #fd973d;
  }
  .btn-secondary2:hover {
    color: #fff;
    background-color: #fb5108;
    border-color: #fb5108;
  }
  